body {
  background-color: #221f1f;
  color: #fff;
  font-family: 'Styrene A LC App', GothamPro;
}

.ant-picker-time-panel-column::-webkit-scrollbar {
  width: 5px;
}
.ant-picker-time-panel-column::-webkit-scrollbar-track {
  background: black;
}
.ant-picker-time-panel-column::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 50px;
  border: 1px solid black;
}
